@model Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Student's info</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Phone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            Teacher
        </dt>
        <dd class="col-sm-10">
            ???
        </dd>
        <dt class="col-sm-2">
            Student's course
        </dt>
        <dd class="col-sm-10">
            @*@if (Model.StudentsCourses != null)
            {
                @foreach (var item in Model.StudentsCourses)
                {
                    @Html.DisplayFor(modelItem => item.Course.Title)
                }
            }*@
            ???
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Student" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>
