@model CourseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h2>Courses info</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            Teacher
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Teacher.Name)            
        </dd>
        <dt class="col-sm-2">
            Students
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Course.StudentsCourses)
            {
                @Html.DisplayFor(modelItem => item.Student.Name)
            }
            ??
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-Id="@Model.Course.CourseId">Edit</a>
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>