@model IEnumerable<Teacher>
@*@model List<Teacher>*@

@{
    ViewData["Title"] = "Teacher";
}

<br />
<h2>List of teachers</h2>
<hr />

@* Den går till createstudent view *@
<a class="btn btn-primary" asp-controller="Teacher" asp-action="CreateTeacher">Create new teacher</a>

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Course Name
            </th>
            <th>
                Course Description
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @foreach (var value in item.Course)
                {
                    <td>
                        @Html.DisplayFor(valueItem => value.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(valueItem => value.Description)
                    </td>
                }
                <td>
                    <a class="btn btn-primary" asp-controller="Teacher" asp-action="Edit" asp-route-id="@item.TeacherId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.TeacherId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>